#matter-body {
    position: relative;
    z-index: 1;
}

.matter {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f1f1f1;
    width: 100%;
    height: inherit;
    transition: all ease-in-out 5s;
}

.matter-back-icon {
    cursor: pointer;
    font-size: xx-large;
}

.matter-title {
    font-size: 48px;
}

.matter-desc {
    font-size: 18px;
    padding: 50px;
    margin: auto;
    width: 100%;
    height: auto;
}

.back-button:hover {
    box-sizing: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@keyframes expand {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}